/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2016, 11:14:59 AM
    Author     : Ricky
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    background-color: lightblue;
}

li a:hover {
    background-color: grey;
}

.active {
    background-color: #4CAF50;
}

div{
    width: 100%;
}